.model-test {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.model-test button {
  padding: 10px;
}

.model {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #c0f254;
}

.content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid red;
  width: 80%;
  animation-name: animateModel;
  animation-duration: 0.5s;
}

.close-modal-icon {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.body,
.footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header {
  padding: 15px 19px;
  background-color: #5cb85c;
  color: #fff;
}

.header h2 {
  display: flex;
  justify-content: center;
}

.body {
  padding: 2px 16px;
}

.footer {
  padding: 15px 16px;
  background-color: #5cb85c;
  color: #fff;
}

@keyframes animateModel {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
